<div class="home">
  <h1>Infinite summer ice cream store</h1>
  
  <p>Which one do you want?</p>

  <div class="products">
    <!-- ICE CREAM CARD -->
    <div class="card" routerLink="/product/1">
      <img src="assets/ice-purple.png" alt="Ice Cream" />
      <p><strong>Ice Cream</strong></p>
    </div>

    <!-- POPSICLE CARD -->
    <div class="card" routerLink="/product/2">
      <img src="assets/pop-green.png" alt="Popsicle" />
      <p><strong>Popsicle</strong></p>
    </div>
  </div>
</div>


